#sign_in
  h2 Forgot Password
  p(style="margin-bottom:12px") Provide the email address you are registered with and we will email you instructions for resetting your password.
  - if (typeof error != "undefined")
    .notice Could not find account with that email address.<br/>Please try again.
  form(action="/forgot_password", class="new_user_session", id="new_user_session", method="post")
    .field
      .label
        label(for="email") Email
      .value
        input(name="email", id="email", size="30", type="text", value= (typeof email =="undefined" ? "" : email) )
    .submit
      button.blue#user_submit(name="commit", type="submit")
        span Submit