h2 Password Reset Instructions
p(style="margin: 12px 0px")
  | We've sent an email to 
  = email
  |  containing a temporary url that will allow you to reset your password for the next 24 hours. Please check your spam folder if the email doesn't appear within a few minutes.

p
  a(href="/authenticate") Return to login screen &rarr;