#sign_in
  h2 Password Reset
  form(action="/reset_password", class="new_user_session", id="new_user_session", method="post")
    input(type="hidden", name="psk", value=psk)
    .field
      .label
        label(for="email") Email
      .value
        input(name="email", id="email", size="30", type="text", readonly="readonly", value=email)
    .field
      .label
        label(for="password") Password
      .value
        input(name="password", id="password", size="30", type="password")
    .field
      .label
        label(for="password_confirmation") Confirmation
      .value
        input(name="password_confirmation", id="password_confirmation", size="30", type="password")
    .submit
      button.blue#user_submit(name="commit", type="submit")
        span Update Password
